body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  background-color: #eccda79c;
  padding: 1em 0 1em 10em;
}

.list {
  padding-inline-start: 0;
}

.input {
  margin: 0;
  outline: none;
  border-radius: 1.5em 0 0 1.5em;
  padding: 1.3em;
  border: 1px solid #8d827275;
  color: #16476d;
}

.input::placeholder {
  color: #b09b82;
}

.bttn {
  padding: 1.3em;
  outline: none;
  border-radius: 0 1.5em 1.5em 0;
  background-color: rgb(255, 210, 155, 0.85);
  border: 1px solid #8d827275;
  color: #706353;
}

.bttn:hover {
  background-color: #fcdfbb;
  cursor: pointer;
}

.importantBttn {
  position: relative;
  display: inline;
  top: 0.3em;
  padding: 0.3em;
  outline: none;
  background: none;
  border: none;
  border-right: 1px solid rgba(73, 73, 73, 0.103);
}

.importantBttn:hover {
  cursor: pointer;
}

.li {
  list-style-type: none;
  color: #5a5a5ae1;
  background-color: #fce9ce94;
  border: 1px solid #8d827275;
  border-radius: 1.4vw;
  max-width: 48em;
  display: block;
  margin: 1vw auto 1vw auto;
}

.liText {
  position: relative;
  display: inline-block;
  color: #706353;
  width: 45em;
  font-size: 14px;
  font-family: sans-serif;
  margin: 1em 2em 0 2em;
  text-align: justify;
}

.bttns {
  position: relative;
  display: inline;
  vertical-align: top;
  left: 1.5em;
}

.liRemove {
  position: relative;
  top: 0.3em;
  padding: 0.3em;
  outline: none;
  background: none;
  border: none;
}

.liRemove:hover {
  cursor: pointer;
}

.importantTask {
  background-color: #f3cfc6b6;
  border-radius: 1.4vw;
}

.alert {
  top: 1.5%;
  left: 44vw;
  border: 1px solid #c9b392;
  border-radius: 2vw;
  background-color: #f3cfc6b6;
  text-align: center;
  max-width: 30%;
  color: #706455;
  padding: 1.3vw;
  position: absolute;
  font-size: 1vw;
}

.date {
  position: relative;
  display: inline-block;
  left: 42.95em;
}

.date p {
  text-align: right;
  color: #8d827267;
  font-family: Robotic, cursive;
  font-size: 11px;
  margin: 0 0 0.5em 0;
}

.importantIcon {
  width: 14px;
  height: 14px;
  opacity: 0.7;
}

.removeIcon {
  width: 14px;
  height: 14px;
  opacity: 0.7;
}

.importantIcon:hover {
  transform: scale(1.6);
  opacity: 1;
}

.removeIcon:hover {
  transform: scale(1.6);
  opacity: 1;
}

@media screen and (max-width: 759px) {

  .body {
    max-width: 100%;
  }


}

@media screen and (max-width: 420px) {

  .body {
    max-width: 100%;
  }

  .header {
    padding: 4% 0 4% 10%;
  }

  .input {
    padding: 1em;
  }

  .bttn {
    padding: 1em;
  }

  .liText {
    width: 65vw;
  }

  .bttns {
    top: 0.35em;
  }

  .date {
    left: 80.5vw;
  }

  .date p {
    margin: 0.5em 0 0.5em 0;
    font-size: 10px;
  }

}

@media screen and (max-width: 375px) {

  .input {
    padding: 0.8em;
    width: 40%;
  }

  .bttn {
    width: 42%;
    padding: 0.8em 0 0.8em 0;
  }

  .date {
    left: 82.5vw;
  }

}

@media screen and (max-width: 320px) {

  .liText {
    margin: 1em 1.5em 0 1.5em;
  }

  .bttns {
    left: 0.5em;
  }

  .date {
    left: 76vw;
  }

}